.formDiv {
    height: 100vh;
}

form {
    margin-top: 150px;
    background-color: rgb(14, 14, 14);
    border-radius: 5px;
}

.formField {
    position: relative;
}

.formInput {
    background-color: rgb(14, 14, 14);
    width: 100%;
    padding: 8px 0 5px 0;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: .12rem solid #828282c4;
    color: whitesmoke;
}

#photo {
    border-bottom: none;
}

.formLabel {
    position: absolute;
    top: 10px;
    left: 0;
    transition: .5s;
    pointer-events: none;
    color: #828282;
    letter-spacing: 1px;
}

.formInput:focus ~ label,
.formInput:valid ~ label {
    top: -12px;
    left: 0;
    font-size: 12px;
    letter-spacing: 1px;
    color: #a9c2dc;
}

.formInput:focus,
.formInput:valid {
    border-bottom: .12rem solid #a9c2dcaa;
}

.add-button {
    color: #a9c2dc;
    border: 1px solid #a9c2dc;
}

.add-button:hover {
    background-color: #a9c2dc;
    color: #191919;
}
