form {
    background-color: #101010;
    border-radius: 5px;
}

.formField {
    position: relative;
}

.formInput {
    background-color: #101010d1;
    width: 100%;
    padding: 8px 0 3px 0;
    border: none;
    outline: none;
    border-bottom: .12rem solid #828282c4;
    color: whitesmoke;
}

.formLabel {
    position: absolute;
    top: 10px;
    left: 0;
    transition: .5s;
    pointer-events: none;
    color: #828282;
}

.formInput:focus ~ label,
.formInput:valid ~ label {
    top: -12px;
    left: 0;
    font-size: 12px;
}