div .image {
  height: 200px;
}

.allPicsDiv {
  margin-top: 150px;
  min-height: 100vh;
}

.image:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
}

.picCaption {
  color: rgba(177, 177, 177, 0.612);
  font-size: 12px;
}

