{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/edit_picture.css" />


<div class="row" id="editMenu">
  <div class="col-6 text-right mx-auto" id="editOptions">
    <div id="arrows">
        <!-- <p class="edit-categories">Rotate:</p> -->
      <a href="/images/{{id}}/left">
        <i class="fas fa-undo mr-4 fa-md"></i>
      </a>
      <a href="/images/{{id}}/right">
        <i class="fas fa-undo fa-flip-horizontal fa-md"></i>
      </a>
    </div>
    <div>
      <p class="edit-categories">Filter:</p>
      <a class="py-0" href="/images/{{id}}/grayscale"> B/W </a>
      <a class="py-0" href="/images/{{id}}/posterize"> Posterize </a>
      <a class="py-0" href="/images/{{id}}/emboss"> Emboss </a>
      <a class="py-0" href="/images/{{id}}/blur"> Blur </a>
    </div>
    <div>
      <p class="edit-categories">Enhance:</p>
      <a class="py-0" href="/images/{{id}}/color"> Color </a>
      <a class="py-0" href="/images/{{id}}/contrast"> Contrast </a>
      <a class="py-0" href="/images/{{id}}/brightness">Brightness </a>
    </div>
  <!--   <hr id="rule">
    <div>
        <a class="py-0" href="/images/{{id}}/save"> Save </a>
        <a class="py-0" href="/images/{{id}}/cancel"> Revert </a>
    </div>
  </div> -->
</div>

<div class="container mx-auto text-center imgDiv">
  <img class="edit-img" src="{{url}}" alt="{{url}}" />
</div>
{% endblock %}
